#!/usr/bin/make -f
PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

override_dh_install:
	mkdir -p debian/php-cakephp-core/usr/share/php/Cake/Core
	find . -maxdepth 1 -name '*.php' ! -name '.*' | xargs -r cp -t debian/php-cakephp-core/usr/share/php/Cake/Core/
	find . -mindepth 1 -maxdepth 1 -type d ! -name '.*' ! -name 'vendor' ! -name 'tests' ! -name 'Test*' ! -name 'debian' | xargs -r -I{} cp -r {} debian/php-cakephp-core/usr/share/php/Cake/Core/
	install -m 644 debian/autoload.php debian/php-cakephp-core/usr/share/php/Cake/Core/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" debian/php-cakephp-core/usr/share/php/Cake/Core/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" debian/php-cakephp-core/usr/share/php/Cake/Core/autoload.php
